<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- tutorial followed from https://www.tutorialspoint.com/ruby-on-rails/rails-layouts.htm -->
<html>

   <head>
      <title>ECE-595 Blog Application</title>
      <%= stylesheet_link_tag "style" %>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
         Logged in as <strong><%= current_user.email %></strong>.
         <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
         <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
         <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
         <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %> 
   </head>

   <body id = "posts">
      <div id = "container">
         
         <div id = "header">
            <h1>ECE-595 Blog Application</h1>
            <h3>Powered by Ruby on Rails</h3>
         </div>

         <div id = "content">
           <% if notice %>
 	      <p class="alert alert-success"><%= notice %></p>
	   <% end %>
	   <% if alert %>
	      <p class="alert alert-danger"><%= alert %></p>
	   <% end %> 
           <%= yield -%>
         </div>
         
      </div>
   </body>
   
</html>
